*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color:lightgoldenrodyellow;
    color:rgba(0, 0, 0, 0.81);
}

header,
section h3{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: normal;
}

body{
    font-family: "Cormorant", serif;
    background-color:lightgray
}

header nav li{
    display:inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color:rgba(0, 0, 0, 0.81);   
    text-decoration: none;
}   

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;      
}

.subtitle h2{
    margin: 16px 0;
    padding: 16px 0;
    text-align: center;
    color:black;
    background-color:honeydew
}

.container{
    max-width: 1280px;
    margin: 16px 16px;
    width: 100%;
}

section .container img{
    height:200px;
}

section h3{
    margin: 16px 0;
    text-align: center;
}

footer{
    padding: 16px 0;
    background-color:lightgoldenrodyellow;
    color:rgba(0, 0, 0, 0.81);
}